<h1>Displaying and Navigating all data</h1>

<h3><%= link_to "Characters", characters_path %></h3>
<ul class="list-group">
<% Character.all.each do |c| %>
  <li class="list-group-item"><%= link_to c.name, character_path(c.name) %></li>
<% end %>
</ul>

<h3><%= link_to "Creatures", creatures_path %></h3>
<ul class="list-group">
<% Creature.all.each do |c| %>
  <li class="list-group-item"><%= link_to c.name, creature_path(c.name) %></li>
<% end %>
</ul>

<h3><%= link_to "Dragons", dragons_path %></h3>
<ul class="list-group">
<% Dragon.all.each do |d| %>
  <li class="list-group-item"><%= link_to d.name, dragon_path(d.name) %></li>
<% end %>
</ul>

<h3><%= link_to "Scenarios", scenarios_path %></h3>
<ul class="list-group">
<% Scenario.all.each do |s| %>
  <li class="list-group-item"><%= link_to s.region, scenario_path(s.region) %></li>
<% end %>
</ul>

<h3><%= link_to "Stats", stats_path %></h3>
<ul class="list-group">
<% Stat.all.each do |s| %>
  <li class="list-group-item"><%= link_to s.species, stat_path(s.species) %></li>
<% end %>
</ul>