<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="navbar  navbar-inverse">
        <ul class="nav navbar-nav">
          <li><%=link_to "HOME", home_path%></li>
          <li><%=link_to "DATA", data_path%></li>
          <li><%=link_to "ABOUT", about_path%></li>
        </ul>
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Here"%>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
